.whole-screen-element {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-bar {
    flex-direction: row;
    justify-content: space-between;
    -unity-font: resource('Fonts/HomeVideo-Regular');
    -unity-font-definition: initial;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
}
